@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Componentes */
.header {
  background: #caa68c;
  display: grid;
}
.nav {
  border: 1px solid black;
  background: #dab2b2;
}
.nav ul {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.nav ul li {
}

.nav ul li:nth-child(1) {
  background: hotpink;
  grid-column: 1 / 2;
}
.nav ul li:nth-child(2) {
  background: lightskyblue;
  grid-column: 3 / 4;
}
.nav ul li:nth-child(3) {
  background: plum;
  grid-column: 3 / 4;
}

.nav ul li a {
}

.titulo {
  text-align: center;
}
