@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap");
:root {
  --primario: ;
  --primario-claro: ;
  --primario-fuerte: ;
  --secundario: ;
  --secundario-claro: 5;
  --secundario-fuerte: ;
  --bg: #ffffff;
  --font-base: "Roboto";
  --font-headings: "Montserrat", sans-serif;
  --h1: 108px;
  --h2: 81px;
  --h3: 54px;
  --h4: 36px;
  --h5: 24px;
  --h6: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

h3 {
  font-size: var(--h3);
}

body {
  font-family: var(--font-base);
}

.nav {
  background-image: url("https://res.cloudinary.com/dk8ssnuuv/image/upload/v1614715309/Dibujando_1_rryz6h.jpg");
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
}

ul li {
  list-style: none;
  color: white;
}

a {
  text-decoration: none;
}

.layout {
}

.nav ul {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.nav ul > * {
  flex: 1 1 0%;
}

.nav ul > :nth-child(2) {
  flex: 5 1 0%;
}

nav ul li a {
  color: white;
}

.header {
  min-height: 600px;
  line-height: 600px;
}

.header h1 {
  color: white;
  text-align: center;
}

.contact {
  color: black;
  font-family: var(--font-headings);
}

.section-about {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding-left: 150px;
}

.cat-about {
  font-weight: 400;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.description {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-top: 20px;
  padding-right: 150px;
}
